In [29]:
classroom = [
        
    {
        'name': 'Alice',
        'email': 'alice@example.com',
        'grades': [
            ('math', 91),
            ('english', 78),
            ('math', 90),
            ('history', 34),
            ('math', 95),
        ],
    },
    {
        'name': 'Bob',
        'email': 'bob@example.com',
        'grades': [
            ('math', 85),
            ('english', 92),
            ('history', 75),
        ],
    },
    {
        'name': 'Charlie',
        'email': 'charlie@example.com',
        'grades': [
            ('physics', 78),
            ('english', 81),
            ('english', 89),
            ('history', 68),
            ('english', 82),
            ('physics', 91),
        ],
    },
]

In [30]:
classroom

[{'name': 'Alice',
  'email': 'alice@example.com',
  'grades': [('math', 91),
   ('english', 78),
   ('math', 90),
   ('history', 34),
   ('math', 95)]},
 {'name': 'Bob',
  'email': 'bob@example.com',
  'grades': [('math', 85), ('english', 92), ('history', 75)]},
 {'name': 'Charlie',
  'email': 'charlie@example.com',
  'grades': [('physics', 78),
   ('english', 81),
   ('english', 89),
   ('history', 68),
   ('english', 82),
   ('physics', 91)]}]

In [174]:
def findStudent(s):
      for x,i in enumerate(classroom):
         if(i['name']==s ):
            return x,i

def add_student(name, email=None):
    """Add a new student to the classroom
    with the following keys:
    'name': the given name
    'email': if email is given use it otherwise use <name>@example.com
             in lowercase, you can use the `s.lower()` method
    'grade': initialize with empty list
    """
    newStunent={
        'name': name,
        'grades': [],
    }
    if(email):
        newStunent["email"]=email.lower()
    else:
        print(name.lower())
        newStunent["email"]=f'{name.lower()}@example.com'
    classroom.append(newStunent)

    pass




def delete_student(name):
    """Delete a student from the classroom"""
    fstudent= findStudent(name)
    if(fstudent):
        classroom.remove(fstudent[1])
    pass



def set_email(name, email):
    """Sets the email of the student"""
    fstudent= findStudent(name)
    if(fstudent):
        classroom[fstudent[0]]["email"]=email
    pass

def add_grade(name, profession, grade):
    """Adds a new grade to the student grades"""
    fstudent= findStudent(name)
    if(fstudent):
        classroom[fstudent[0]]["grades"].append((profession, grade))
    pass


def avg_grade(name, profession):
    """Returns the average of grades of the student
    in the specified profession
    """
    sum=0
    count=0
    fstudent= findStudent(name)
    if(fstudent):
        for idx,val in enumerate(classroom[fstudent[0]]["grades"]):
            if(val[0]== profession):
                sum+=val[1]
                count+=1
    return sum/ count
    pass

def get_professions(name):
    prof=[]
    fstudent= findStudent(name)
    if(fstudent):
        for val in classroom[fstudent[0]]["grades"]:
            if not any (val[0]==x for x in prof):
               prof.append(val[0])
    return prof
    pass

In [175]:
add_student("aaa","adASd@vfbgn")

In [169]:
delete_student("Alice")

In [170]:
add_grade("aaa","navi",97)

In [176]:
classroom

[{'name': 'Bob',
  'email': 'bob@example.com',
  'grades': [('math', 85), ('english', 92), ('history', 75)]},
 {'name': 'Charlie',
  'email': 'charlie@example.com',
  'grades': [('physics', 78),
   ('english', 81),
   ('english', 89),
   ('history', 68),
   ('english', 82),
   ('physics', 91)]},
 {'name': 'aaa',
  'grades': [('tora', 98),
   ('tora', 98),
   ('navi', 98),
   ('navi', 97),
   ('navi', 97)],
  'email': 'a@ffahnj.dx'},
 {'name': 'aaa', 'grades': [], 'email': 'adASd@vfbgn'},
 {'name': 'aaa', 'grades': [], 'email': 'adASd@vfbgn'},
 {'name': 'aaa', 'grades': [], 'email': 'adASd@vfbgn'},
 {'name': 'aaa', 'grades': [], 'email': 'adASd@vfbgn'},
 {'name': 'aaa', 'grades': [], 'email': 'adASd@vfbgn'},
 {'name': 'aaa', 'grades': [], 'email': 'adasd@vfbgn'}]

In [156]:
a=ASD

NameError: name 'ASD' is not defined

In [157]:
a="adsASD"

In [158]:
a.

SyntaxError: invalid syntax (3905452595.py, line 1)

In [159]:
a

'adsASD'

In [160]:
a.lower

In [164]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [165]:
b=a.lower()

In [166]:
b

'adsasd'